*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-app{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
  min-height: 600px;
  background-color: skyblue;
  margin: 120px auto;
  border-radius: 10px;
  padding: 10px;
}

h1{
  text-align: center;
  margin: 10px;
}

.todo-form{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.todo-form input{
  width: 300px;
  height: 35px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.todo-form input:focus{
  outline: none;
}

.todo-button{
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #fff;;
  background-color: #000;
}

.todo-row{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: gold;
}
